<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/Main.css")
    @Styles.Render("~/Content/Search.css")
    <link href="~/Content/jquery-ui.css") rel="stylesheet" />
    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/Views/tools.js")
    @Scripts.Render("~/Scripts/default.js")
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery-ui-datepicker.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
    

    <script src="~/Scripts/Views/login.js"></script>

</head>
<body>
    <div style="text-align: center;">
  <table align="center" width="1000" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><table class="header_bg" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td class="header1"></td>
          </tr>         
        </table>
         <div class="mb_10"></div>
          <div  class="float_l">
    <div class="news">
                <div class="news_header"> <span class="news_title">用户登录</span></div>

    <div class="clear"> </div>
    <div id="ctl00_ContentPlaceHolder1_wucUserMenu1_divusermenu" class="loginstatus">
        <div class="usermenu_username"><span>账 &nbsp;&nbsp;户</span>
        <input type="text" class="necessary" id="uid" value="320103197609071219" />
        </div>
        <div class="usermenu_password"><span>密 &nbsp;&nbsp;码</span>
        <input type="password" class="necessary" id="pwd" value="071219"/>
        </div>

            <div>
        <input type="text" class="txt_ver_code" id="valcode" value="请输入验证码" onfocus="this.style.color='black';if(this.value=='请输入验证码'){this.value=''}" onblur="if(this.value==''){this.value='请输入验证码'};this.style.color='#666'" />
        <span style="color: #b1bed5; border: 1px solid #b1bed5; padding: 2px 5px; margin: auto 10px; text-align: center; display: inline-block; width: 40px;" id="vcode">d2w5</span><a class="bt_change" href="#" onclick="getValidationCode()">换一张</a>
    </div>
        <!--
        <div class="usermenu_answer"><span>验证码</span>
        <input type="text" class="necessary" tabindex="3" />
        </div>
        -->

        <div style="display: none;" class="usermenu_rememberme" title="为了确保你的信息安全，请不要在网吧或者公共机房选择此项。如果今后要取消此选项，只需点击快捷菜单中的“注销退出”链接即可">
        <input type="checkbox" id="rememberme" name="rememberme" tabindex="4" />
        <label for="rememberme">记住登录状态</label>
        </div>
        <div class="usermenu_error">             
        <input type="button" class="btnsave  mb_10" onclick="login();" value="登 录" />
        </div>
        <div class="usermenu_membership"><a href="#" tabindex="7">忘记密码？</a>&nbsp;&nbsp;<a href="#" tabindex="8">会员须知</a></div>
    </div>
    <div class="news_footer"> </div>
    </div>
        
    <div class="clear"> </div>
    <div class="news mt_10">
    <div class="news_header"> <span class="news_title">最新消息</span><span class="news_more"><a href="#">更多>></a></span> </div>
    <div class="news_content">
        <ul >
        <li><a>中国药促会和贝达药业凯美... </a></li>
                            <li><a>临床试验受试者招募广告...</a></li>
                            <li><a>临床试验受试者招募广告...</a></li>
                            <li><a>凯美纳研究首研会...</a></li>
                            <li><a>非小细胞肺癌靶向药物...</a></li>
                            <li><a>完全知识产权抗癌新药...</a></li>
                            <li><a>凯美纳开启中国抗肿瘤治</a></li>
                            <li><a>临床试验受试者招募广告...</a></li>
                            <li><a>临床试验受试者招募广告...</a></li>
                            <li><a>凯美纳研究首研会...</a></li>
                            <li><a>非小细胞肺癌靶向药物...</a></li>
                            <li><a>中国药促会和贝达药业凯美... </a></li>
                            <li><a>临床试验受试者招募广告...</a></li>
                                <li><a>临床试验受试者招募广告...</a></li>
                            <li><a>临床试验受试者招募广告...</a></li>
                            <li><a>凯美纳研究首研会...</a></li>
                            <li><a>非小细胞肺癌靶向药物...</a></li>
                            <li><a>中国药促会和贝达药业凯美... </a></li>
                            <li><a>临床试验受试者招募广告...</a></li>
                                <li><a>中国药促会和贝达药业凯美... </a></li>
                            

        </ul>
    </div>
    <div class="news_footer"> </div>
    </div>
</div>
    @RenderBody()
          <div class="clear"> </div></td>
           </tr>
    <tr>
      <td style="padding-top: 15px;">
      <div class="footer pt_10">
         <div class="footer_bottom"> Copyrights © 2015 kmn.org.cn All Rights Reserved <br />
            凯美纳后续免费用药项目版权所有
          </div>
        </div></td>
    </tr>
  </table>
</div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
